# Unity YAML: text with smart-merge friendly line endings
*.unity     text eol=lf merge=unityyamlmerge
*.prefab    text eol=lf merge=unityyamlmerge
*.asset     text eol=lf merge=unityyamlmerge
*.mat       text eol=lf merge=unityyamlmerge
*.meta      text eol=lf
*.cs        text eol=lf diff=csharp
*.shader    text eol=lf
*.json      text eol=lf
*.md        text eol=lf

# binaries
*.ogg   binary
*.webm  binary
*.png   binary
*.mesh  binary
*.fbx   binary
