[Desktop Entry]
Type=Application
Name=Mad Mike's Garage
Comment=Voxel vehicular survival in a procedural wasteland
Exec=./MadMikesGarage.x86_64
Terminal=false
Categories=Game;Simulation;
